<h1>Celebrities</h1>
<ul>
    {{#each celebritiesArr as |celebrity|}}
        <li>
            <strong>Name: {{celebrity.name}}</strong> - Occupation: {{celebrity.occupation}}
        </li>
    {{/each}}
</ul>